version: 2.1

# Define the jobs we want to run for this project
jobs:
  build:
    machine: true
    steps:
      - add_ssh_keys:
        fingerprints:
          - "df:89:3c:14:f8:3e:c2:2c:81:ea:98:b4:a0:8f:93:11"
    docker:
      - image: cimg/node:18-alpine3.15
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASS
    steps:
      - checkout
      - run: echo "test 1"
  test:
    docker:
      - image: cimg/node:18-alpine3.15
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run: echo "test 1"

# Orchestrate our job run sequence
workflows:
  build_and_test:
    jobs:
      - build
      - test:
        requires:
          - build